.text-input-wrapper input::placeholder {
  font-style: italic;
  font-weight: normal;
  color: var(--color-dark-grey);
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  text-indent: 12px;
}

.text-input-wrapper input {
  border: 1px solid var(--color-dark-grey);
  height: 36px;
  font-family: var(--font-family);
  font-size: var(--default-font-size);
  text-indent: 12px;
  line-height: 20px;
  width: 370px;
  border-radius: var(--default-border-radius);
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-black);
}
.text-input-wrapper input:focus~.input-icon, .text-input-wrapper input:active~.input-icon {
  fill: var(--color-black);
  opacity: 1;
}

.input-icon {
  fill: var(--color-dark-grey);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 11px;
  left: 12px;
}

.input-icon-secondary {
  fill: var(--color-light-grey);
}

.text-input-wrapper.secondary input:focus~.input-icon-secondary, .text-input-wrapper.secondary input:active~.input-icon-secondary {
  fill: var(--color-white);
  opacity: 1;
}

.text-input-wrapper.secondary input {
  background: var(--color-secondary-variant);
  color: var(--color-white);
}

.text-input-wrapper input:focus, .text-input-wrapper input:active {
  outline: none;
  border: 2px solid var(--color-hover-on-primary);
  text-indent: 11px;
}


.text-input-wrapper.secondary input:focus, .text-input-wrapper.secondary input:active {
  outline: none;
  border: 2px solid var(--color-hover-on-primary);
}

.text-input-wrapper.secondary input::placeholder {
  color: var(--color-light-grey);
}

.text-input-wrapper {
  position: relative;
}

.custom-indent::placeholder, .custom-indent {
  text-indent: 30px !important;
}
/* 2px borders move the text around */
.custom-indent:focus::placeholder, .custom-indent:active::placeholder, .custom-indent:focus, .custom-indent:active {
  text-indent: 29px !important;
}
.text-input-wrapper input:focus::placeholder, .text-input-wrapper input:active::placeholder {
  text-indent: 11px;
}

/* disabled  */

.text-input-wrapper.primary input.disabled-input {
  background: var(--color-light-grey) !important;
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--default-border-radius);
  color: var(--color-grey) !important;
}

.text-input-wrapper.secondary input.disabled-input {
  background: var(--color-light-grey) !important;
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--default_border_radius);
  color: var(--color-black) !important;
}

.input-icon-primary.disabled-icon {
  fill: var(--color-grey) !important;
}

.input-icon-secondary.disabled-icon {
  fill: var(--color-black) !important;
  opacity: 1;
}

.text-input-wrapper.fluid, .text-input-wrapper.fluid input {
  width: stretch;
}

/* error handling */

.error {
  color: var(--color-red);
  margin-top: 5px;
  font-size: var(--default-font-size);
}

.error-wrapper {
  display: flex;
  flex-direction: column;
}

.text-input-wrapper input.error-outline {
  border-color: var(--color-red);
  outline: var(--color-red);
}
